@import url('https://fonts.googleapis.com/css?family=Domine&display=swap');

body {
   font-family: 'Domine', serif;
  
  
  color:black;
  overflow:hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  
  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
  
}

h1, h2 {
  font-weight: 200;
  margin: 0.4rem;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
  color:#4ACF56;
}

.logo{
    padding-top: 20px;
}
.navbar{
    position: relative;
    top: 300;
    width: 100%;
    height: 20px;
    
    background-color: #4ACF56;

}

.navbar:hover{
    background-color:black;
}
.example_d {
    color:#4ACF56 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #4ACF56 !important;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin: 10px;
    }
    .example_d:hover {
        color: #494949 !important;
        border-radius: 50px;
        border-color: #494949 !important;
        transition: all 0.3s ease 0s;
        }
   
  .button_cont a{
      text-decoration: none;
  }   
  .buttons{
      margin-left:40%;
      margin-top: 70px;        
      display:inline-flex;
  }  

  .logo1{
      visibility: hidden;
  }
  















/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

@media(min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

@media(max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }
}



.se-pre-con {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("images/cric2.gif") center no-repeat #fff;
}

@media( max-width:767px){

  .logo1{
    visibility: hidden;
}
}

































@media(max-width:475px){

}